.page-template-page_content-sidebar-php {

	.content-area {
		float: left;

		@media only screen and (min-width: 768px) {
			margin: 0 (-$size__site-sidebar) 0 0;
			width: 70%;
		}
	}

	.site-content .widget-area {
		
		@media only screen and (min-width: 768px) {
			float: right;
			width: 25%;
		}
	}
}