footer#colophon {
	background: $color__background-footer;
	font-size: $footer_font;
	padding: 2em 2em 7em;
	width: 100%;
	float: left;
	@include shadow( 1px, -1px, 20px, 1px, #b5b3b4 );

	.site-info {
		text-align: center;

		address {
			margin: 1.5em 0 0 0;
		}

		p {
			margin: 0;
			line-height: 1em;
		}

		a {
			text-decoration: none;
			color: $color__text-screen;
		}
	}
}