.home-widget-area {
	width: 100%;

	@media screen and (min-width: 768px) {
		width: 29.88%;
		float: left;
		margin: 0 5%;

		&:first-child {
			margin: 0;
		}

		&:last-child {
			float: right;
			margin: 0;
		}
	}
}

.home-widgets {

	@media screen and (min-width: 768px) {
		padding: 0 1em;
		overflow: auto;
	}
}