.home-widget-area {
	width: 100%;

	@media screen and (min-width: 768px) {
		width: 29.88%;
	}	
}

@media screen and (min-width: 768px) {
	#home-left {
		float: left;
	}

	#home-center {
		float: left;
		margin: 0 5%;
	}

	#home-right {
		float: right;
	}

	.home-widgets {
		padding: 0 1em;
		overflow: auto;
	}
}